@{
Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <meta name=" v iewport" content="width=device-width" />
        <title>Index</title>
    </head>
    <body>
        <div>
            @ViewBag.Greeting
            <p>
                Мы хотим пригалсть вас на вечеринку.<br />
                То do: sell i t better. Add pictures or something.)
            </p>
            <a asp-action="RsvpForm">RSVP Now</a>
        </div>
    </body>
</html>